#loading img {
	position: fixed;
	top: 15%;
	left: 10%;
	opacity: 1.0;
	animation: rotation 1s ease 0s 1 normal none running;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(270deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.hidden {
	display: none;
}
